.container {
    background-color: hsl(0, 13%, 92%);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 190px 100px auto 50px;
    grid-template-areas:
"A"
"B"
"C"
"D"
"E"
"."
"F";
}


.item {
    background-color: hsl(0, 68%, 42%);
    border: 2px solid hsl(0, 100%, 20%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-a {
    grid-area: A;
}

#item-b {
    grid-area: B;
}

#item-c {
    grid-area: C;
}

#item-d {
    grid-area: D;
}

#item-e {
    grid-area: E;
}

#item-f {
    grid-area: F;
}

@media screen and (min-width: 576px) {
    .container {
        background-color: hsl(0, 13%, 92%);
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
            "A C C"
            "B C C"
            "B E D"
            "B E ."
            "F F F";
    }

}